/node_modules
/public/hot
/public/uploads
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/css
/public/js
/public/fonts
/public/mix-manifest.json
npm-debug.log
.DS_Store
*/.DS_Store
package-lock.json
