
#nav-avatar-container{


}
#nav-avatar-container .nav-avatar{
  width: 26px;
  height: 26px;
  border: 1px solid white;
  border-radius: 50%;
  margin:0;
  margin-right: 5px;
}

nav{

  margin-bottom: 20px;

}







