#nav-avatar-container .nav-avatar{
  width: 26px;
  height: 26px;
  border: 1px solid white;
  border-radius: 50%;
  margin:0;
  margin-right: 5px;
  margin-top: -5px;
}


.navbar-default{
  .navbar-nav{

    li{

      padding: 0 0.3em;

      &.active{
        a{

          background-color: transparent;

          border-bottom: 2px solid #00b5ad;
          box-sizing: border-box;

        }

      }

      a{
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
      }

      a:hover{

        border-bottom: 2px solid #00b5ad;
        box-sizing: border-box;
      }


    }

  }

}






