
.article-info {
  padding-bottom: 10px;
  padding: 20px;
  border-bottom: 1px #f0f0f0 solid;
  cursor: pointer;

  &:hover{

    background-color:#fdfdfd;

  }

  .article-box {
    background-color: red;

  }

  .meta {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .front {

      flex: 1;
      align-items: center;
      display: flex;

      .time{
        
        font-size: 12px;
        color: #888;
        
      }
      a {

        height: 22px;
        .avatar {
          width: 22px;

        }

        &.nickname {
          color: #666;

          line-height: 22px;

        }

        

      }

    }

    .tags {
      

      .tag {
        
        background-color: #efefef;
        // color: rgba(0, 0, 0, .6);

      }

      // margin: 0 5px;

      // width: 100%;
      // flex: 2;

    }

  }
}

.article-intro {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;

  .placeimage {
    padding: 0 10px;
    flex: 2;
    img {
      margin-top: 0;
      padding-top: 0;
      border-radius: 5px;
      max-width: 100%;
      margin-bottom: 0;
    }

  }

  @media screen and (max-width: 768px) {
    display: block;
    .placeimage {
      padding: 0;
      width: 100%;
      text-align: center;
    }

    .describe {

      h4 {
        padding: 10px;
        padding-left: 0;

      }
    }
  }
  .describe {
    flex: 10;

    display: flex;
    flex-direction: column;

    margin-left: auto;
    padding-bottom: 5px;
    .title {
      flex: 1;
      width: 100%;
      color: #555;
      font-weight:600;
      font-size:20px;

    }
    h4 {
      margin: 0;
    }

    a:hover {

      .title {
        color: #0000cc;
      }

    }

    .info {
      flex: 4;

      width: 100%;

    }
  }
}

.article-state {

  // background-color: #ccc;
  display: flex;

  .extra {
    .label {
      font-weight: 500;
      font-size: 12px;

    }

    padding: 2px 6px;
    color: #ea6f5a !important;
    border: 1px solid rgba(236, 97, 73, .7);
    border-radius: 3px;
  }

  .info {

    font-size: 14px;
    color: #999;
    .icon {
      vertical-align: inherit;
      margin-left: 10px;
      margin-right: -5px;

    }

  }

}

.article-page{


  .article-title{
    font-size: 24px;


  }

  .main-title{
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 500;
    .title-summary{
      color: #aaa;
      line-height: 2rem;
      padding: 15px 10px 0;
      border-bottom: solid 1px #ccc;
      font-size: 13px;
      font-weight: 400;
      a{
        color: #666;
      }
    }
  }

  .favorite-subject{
    color: #ff763b;
    font-size: 2rem;
    .favorite-count{
      font-size: 1.2rem;
      color: #666
    }

    .favorite-users{
      display: flex;
      font-weight: 600;
      flex-wrap: wrap;
      font-size: 0;
      .favorite-user{

        //&:hover{
        //  background: red;
        //
        //
        //}
        padding-bottom:6px;
        margin:0 3px;
        img{
          border-radius: 50%;
          width: 22px;
          height: 22px;
        }
      }
    }
  }


}




.delete-article {

  i[class*="ion-"] {
    color: red;
    font-size: 18px;

  }
  background: transparent;
  border: 0;
  padding: 0;
  padding-left: 30px;

}

.edit-article {
  i[class*="ion-"] {
    font-size: 16px;

  }
  background: transparent;
  border: 0;
  padding: 0;
  padding-left: 30px;

}

.article {

  .publishing {
    &.alert-info {
      background-color: #ecf0f1;
      border-color: #ecf0f1;
      color: #666;
      font-size: 14px;
      a {
        color: #333;
      }
    }

  }

  .infos {
    h1 {
      font-size: 22px;
      margin: 10px 0;
      color: #555;
      //font-weight: normal;

    }
  }

  .meta {
    .user-name {
      font-weight: bold;
      color: #555;
      margin: 0px 10px;
    }
    color: #666;
    .published_time {
      margin: 0px 10px;

    }

  }

}

.un-subscribe{
  color: #999;
}

.subscribed{
  color:$blue;
}