.article-info{
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-bottom: 1px solid #ccc;

  //background-color: rgba(67,67,67,0.5);

  .placeimage{
    padding: 10px;
    flex:3;
    img{
      border-radius: 5px;
      max-width: 100%;
    }

  }
  
  @media screen and (max-width: 768px) {
    display: block;
    .placeimage{
      padding: 0;
      width: 100%;
      text-align: center;
    }

    .describe{

      h4{
        padding: 10px;
        padding-left: 0;
      }
    }
  }

  .describe{
    flex: 9;
    margin-left: auto;
    h4{
      margin: 0;

    }

    .extra{
      a {
        margin: 0 5px;
        background-color: #e8e8e8;
        color: rgba(0,0,0,.6);
        .label{
          display: inline-block;
          line-height: 1;
          vertical-align: baseline;
          background-color: #e8e8e8;
          background-image: none;
          padding: .5833em .833em;
          color: rgba(0,0,0,.6);
          text-transform: none;
          border: 0 solid transparent;
          border-radius: .28571429rem;
          transition: background .1s ease;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
      i{
        margin-left: .4em;
        margin-right: .4em;

      }
      .info {

        a {
          display: inline-block;
          color: #18bc9c;
          background-color: transparent;
        }
      }
      display: block;
      width: 100%;
    }

  }



}

.delete-article{

  i[class*="ion-"]{
    color: red;
    font-size: 18px;

  }
  background: transparent;
  border: 0;
  padding: 0;
  padding-left: 15px;

}

.article{

  img{

    max-width: 100%;
  }




}