
.card{
  box-shadow:none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);



  .card-header{
    box-shadow: none;
    border-bottom: 1px solid hsla(0,0%,59%,.1);


    .card-header-title{

      font-weight:500;

      padding: 0.63em;
      padding-left: 1em;
    }

    .card-header-icon{

      padding: 0.63em;
    }

    .card-header-icon{

      font-size: 13px;
    }



  }
}

.nopadding{
  padding:0;
}

.icon .fa, .icon .mdi {
  font-size: inherit;
}

.social-share .social-share-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  transition: background 0.6s ease-out 0s;
}