
h1,h2,h3,h4,h5,p{
  padding: 0;
  margin: 0;

}


a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.level{
  display: flex;
  align-items: center;

}

.flex{
  flex: 1;
}

[v-cloak] {
  display: none;
}


img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img:not(.emoji,.avatar) {
  border: 1px solid #ddd;
  max-width: 100%;
  box-shadow: 0 0 30px #ccc;
  -moz-box-shadow: 0 0 30px #ccc;
  -webkit-box-shadow: 0 0 30px #ccc;
  margin-bottom: 30px;
  margin-top: 10px;
}

.empty-block {
  text-align: center;
  line-height: 60px;
  margin: 10px;
  color: #ccc;
}

i[class*="ion-"]{

}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  //height: 60px;
  background-color: #fff;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.avatar {
  border-radius: 50%;
}
