
//html {
//  position: relative;
//  min-height: 100%;
//}

body {
  /* Margin bottom by footer height */
  font-family: $family-serif;
  background-color: #f4f5f5;
}

h1,h2,h3,h4,h5,p{
  padding: 0;
  margin: 0;

}


a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.level{
  display: flex;
  align-items: center;

}

.flex{
  flex: 1;
}

[v-cloak] {
  display: none;
}


//img {
//  //max-width: 100%;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}
//
//img:not(.emoji,.avatar) {
//  border: 1px solid #ddd;
//  //max-width: 100%;
//  box-shadow: 0 0 30px #ccc;
//  -moz-box-shadow: 0 0 30px #ccc;
//  -webkit-box-shadow: 0 0 30px #ccc;
//  margin-bottom: 30px;
//  margin-top: 10px;
//}

.empty-block {
  text-align: center;
  line-height: 60px;
  margin: 10px;
  color: #ccc;
}
.white-bg{
  background-color: white;
  margin: 0;
}

.column.is-faded{
  padding-left: 50px;
}

@media screen and (min-width: 769px) {
  .column.is-faded {
    padding-top: 50px;
    background: linear-gradient(90deg, #f9f9f9, #fff 20px);
  }
}

.edit-article-title{
  height: 39px;
}


i[class*="ion-"]{

}

.control:not(:last-child) {
  margin-bottom: .75rem;
}

.page-header {
  font-weight: 500;
  font-size: 22px;
  padding-bottom: 10px;
  margin: 44px 0 22px;
  border-bottom: 1px solid #eee;
}
.activity-header{

  font-size: 17px;
  line-height: 35px;
  font-weight: 500;
}

.comments{

  margin: 20px 0;

  .newComment{

    margin-top: 20px;

  }

  .content figure{

    margin-left: 1em;
    margin-right: 0;
  }

  .comment-content{
    padding-top: 15px;
    border-bottom: 1px solid #eee;

  }
}


//.footer {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  /* Set the fixed height of the footer here */
//  //height: 60px;
//  background-color: #fff;
//}

.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.avatar {
  border-radius: 50%;
}

.articles-sort{
  font-size: 0.9em;
  a{
    padding: 0 0.5em;
  }

}

.round-item{

  &:hover{

    background-color: #FAD5A0;

  }

  margin-right: 12px;
  margin-bottom: 12px;
  background-color: #f3f6f3;
  cursor: pointer;
  height: 30px;
  color: inherit;
  line-height: 30px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
}


.comment-contents{

  .comment-content{

    .media{

      .media-left{

        margin-bottom: 1em;
        margin-right: 0;

      }

      .media-content{

        .comment-option{
          margin-right:1em;
        }

        .content{

          .comment-body{
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
          }

          img{
            border-radius: 5px;
          }

          p{

            margin-bottom: 0;
          }

        }
      }

    }


  }


}




//.pagination>li>a, .pagination>li>span
//{
//  width: 36px;
//  height: 36px;
//  border-radius: 50% !important;
//  margin: 0 5px;
//}
//
//
//
//.comment-contents{
//
//
//  .media-left:hover img, .media-right:hover img{
//    -webkit-transform: rotateZ(360deg);
//    -moz-transform: rotateZ(360deg);
//    transform: rotateZ(360deg);
//  }
//
//  .avatar {
//    width: 64px;
//    height: 64px;
//    -webkit-transition: transition .6s ease-in;
//    -moz-transition: transition .6s ease-in;
//    transition: transform .6s ease-in;
//  }
//
//
//
//
//  .comment-content{
//    &:nth-last-child(2){
//      border-bottom: 0;
//
//    }
//
//    .time{
//
//      color: #bbb;
//      font-size: 13px;
//    }
//
//    .operation{
//
//      font-size: 16px;
//      i{
//
//        margin-right: 10px;
//        color: #888;
//      }
//
//    }
//
//    padding: 10px;
//    border-bottom: 1px #e1e1e1 solid;
//
//  }
//
//}

